<a href="https://colab.research.google.com/github/ortizfram/predicting-stock-prices/blob/main/prediciton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Description : 
#     Get predicitons from Amazon Stock Price, using Daily Clousure price in USD
#     the data is from the Yahoo Finance API (2001-01-02 / 2023-02-23)

In [6]:
# install import libraries

# !pip install pandas-datareader tensorflow scikit-learn
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import datetime as dt

from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM

In [10]:
# Load data

# data = https://finance.yahoo.com/quote/AMZN/history?p=AMZN  
#       get this data from Yahoo Finance API.

df = pd.read_csv('/content/AMZN.csv')

df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2001-01-02,0.790625,0.800000,0.681250,0.693750,0.693750,184070000
1,2001-01-03,0.681250,0.893750,0.678125,0.878125,0.878125,293608000
2,2001-01-04,0.850000,0.878125,0.771875,0.775000,0.775000,212410000
3,2001-01-05,0.775000,0.793750,0.678125,0.728125,0.728125,175976000
4,2001-01-08,0.721875,0.778125,0.687500,0.746875,0.746875,208894000
...,...,...,...,...,...,...,...
5566,2023-02-16,99.209999,100.629997,98.099998,98.150002,98.150002,56339200
5567,2023-02-17,97.800003,97.940002,95.650002,97.199997,97.199997,59967700
5568,2023-02-21,95.339996,95.610001,94.269997,94.580002,94.580002,56580400
5569,2023-02-22,95.099998,97.010002,94.800003,95.790001,95.790001,59534100
5570,2023-02-23,96.120003,96.430000,93.669998,95.820000,95.820000,48402600

In [12]:
# Prepare Data 
#   scale all the values that  we have so that it fit's betweet (0 and 1)

# initialize scaler
scaler = MinMaxScaler(feature_range=(0,1))

# fit the Target column
scaled_data = scaler.fit_transform(df['Close'].values.reshape(-1,1))